* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: 500 !important;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 1900px;
    width: 100%;
    padding: 0 ;
}

body {
    position: relative;
}

.navbar.navbar-expand-lg {
    position: absolute;
    width: 100%;
    font-family: 'Montserrat';
}

.navbar>.container-fluid {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.navbar-brand h6{
    display: flex;
    flex-direction:column;
    color: #ffffff !important;
}

.navbar-brand img{
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.dropdown-item {
    margin-left: 15px;
    color: #ffffff !important;
    text-transform: capitalize;
    font-size: 15px;
}

.dropdown-item.active {
    margin-left: 0;
    color: #ffffff !important;
    text-transform: capitalize;
    font-size: 15px;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: end;
}

.navbar-toggler {
    margin-right: 5px;
}

.view {
    width: 160px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    text-transform: uppercase;
    background-color: #CC9933;
    color: #ffffff;
    border: none;
    margin-left: 30px;
    font-weight: 600;
    font-size: 15px;
    font-style: bold;
}